In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import f1_score
%matplotlib inline

In [2]:
df=pd.read_csv('DS_DATESET.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 4

In [3]:
df.head()

,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,Contact Number,...,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Certifications/Achievement/ Research papers,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],Link to updated Resume (Google/ One Drive link preferred),link to Linkedin profile,How Did You Hear About This Internship?,Label
0,Barron,Harnes,Kolhapur,Maharashtra,416004,24/09/2000,19,Male,bharnes0@harvard.edu,6345186600,...,HTML/CSS,Yes,No,NaN,6,10,NaN,NaN,Twitter,ineligible
1,Velma,Allone,Pune,Maharashtra,411011,23/10/1997,22,Female,vallone1@i2i.jp,2808753102,...,PHP,No,Yes,NaN,10,7,NaN,NaN,Ex/Current Employee,eligible
2,Thibaut,Scotland,Mumbai,Maharashtra,400059,6/2/1996,24,Male,tscotland2@opensource.org,2945231918,...,C,No,No,NaN,8,6,NaN,NaN,Twitter,ineligible
3,Retha,Proud,Solapur,Maharashtra,413224,26/12/1999,20,Female,rproud3@flavors.me,7507196200,...,PHP,No,Yes,NaN,9,6,NaN,NaN,Twitter,ineligible
4,Del,Pearse,Sangli,Maharashtra,416436,21/09/1996,23,Female,dpearse4@sakura.ne.jp,6643884281,...,Python,No,Yes,NaN,8,6,NaN,NaN,Facebook,ineligible

In [4]:
df.drop(['Certifications/Achievement/ Research papers','Link to updated Resume (Google/ One Drive link preferred)','link to Linkedin profile'], axis=1, inplace=True)

In [5]:
df.head()

,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,Contact Number,...,Areas of interest,Current Employment Status,Have you worked core Java,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],How Did You Hear About This Internship?,Label
0,Barron,Harnes,Kolhapur,Maharashtra,416004,24/09/2000,19,Male,bharnes0@harvard.edu,6345186600,...,Artificial Intelligence,Student,Yes,HTML/CSS,Yes,No,6,10,Twitter,ineligible
1,Velma,Allone,Pune,Maharashtra,411011,23/10/1997,22,Female,vallone1@i2i.jp,2808753102,...,Cloud Computing,Student,Yes,PHP,No,Yes,10,7,Ex/Current Employee,eligible
2,Thibaut,Scotland,Mumbai,Maharashtra,400059,6/2/1996,24,Male,tscotland2@opensource.org,2945231918,...,IoT,Student,Yes,C,No,No,8,6,Twitter,ineligible
3,Retha,Proud,Solapur,Maharashtra,413224,26/12/1999,20,Female,rproud3@flavors.me,7507196200,...,Digital Marketing,Student,No,PHP,No,Yes,9,6,Twitter,ineligible
4,Del,Pearse,Sangli,Maharashtra,416436,21/09/1996,23,Female,dpearse4@sakura.ne.jp,6643884281,...,Cloud Computing,Student,No,Python,No,Yes,8,6,Facebook,ineligible

In [6]:
y=df['Label']
X=df[['Major/Area of Study','Which-year are you studying in?','CGPA/ percentage','Areas of interest',
      'Programming Language Known other than Java (one major)',
     'Rate your written communication skills [1-10]','Rate your verbal communication skills [1-10]']]
X

,Major/Area of Study,Which-year are you studying in?,CGPA/ percentage,Areas of interest,Programming Language Known other than Java (one major),Rate your written communication skills [1-10],Rate your verbal communication skills [1-10]
0,Electrical Engineering,Second-year,7.26,Artificial Intelligence,HTML/CSS,6,10
1,Electronics and Telecommunication,Fourth-year,8.73,Cloud Computing,PHP,10,7
2,Electrical Engineering,Fourth-year,8.61,IoT,C,8,6
3,Computer Engineering,Second-year,7.96,Digital Marketing,PHP,9,6
4,Electrical Engineering,First-year,7.07,Cloud Computing,Python,8,6
5,Electrical Engineering,Fourth-year,9.35,Python,PHP,6,7
6,Electronics and Telecommunication,Third-year,8.31,QMS/Testing,PHP,10,7
7,Electronics and Telecommunication,Third-year,9.21,Data Science,C++,9,9
8,Computer Engineering,Fourth-year,9.91,QMS/Testing,C++,9,10
9,Electronics and Telecommunication,Fourth-year,7.48,IoT,.Net,10,10
10,Computer Engineering,First-year,7.25,Machine Learning,Python,8,10
11,Electrical Engineering,Second-year,7.27,Blockchain,JavaScript,10,7
12,Computer Engineering,Fourth-year,8.27,RPA,PHP,8,6
13,Computer Engineering,Fourth-year,8.70,Digital Marketing,HTML/CSS,10,7
14,Electrical Engineering,Fourth-year,7.75,DevOps,HTML/CSS,8,8
15,Computer Engineering,Second-year,8.84,Big Data,Python,10,7
16,Computer Engineering,Fourth-year,9.21,QMS/Testing,C#,9,6
17,Computer Engineering,Fourth-year,9.82,Web Development,JavaScript,9,7
18,Computer Engineering,Fourth-year,9.88,Web Development,C,6,10
19,Electrical Engineering,First-year,8.40,QMS/Testing,.Net,6,8
20,Computer Engineering,First-year,8.56,Cyber Security,C,7,8
21,Computer Engineering,First-year,7.57,Blockchain,HTML/CSS,10,6
22,Computer Engineering,First-year,8.44,Cloud Computing,JavaScript,6,6
23,Electronics and Telecommunication,Third-year,8.61,Big Data,Python,8,8
24,Computer Engineering,Fourth-year,9.53,Cyber Security,C,10,8
25,Computer Engineering,First-year,7.22,Machine Learning,.Net,9,9
26,Computer Engineering,Second-year,9.33,Machine Learning,.Net,7,10
27,Computer Engineering,Fourth-year,9.86,Artificial Intelligence,.Net,6,10
28,Electronics and Telecommunication,Second-year,7.53,Cyber Security,Python,9,9
29,Computer Engineering,Third-year,9.56,DevOps,C#,8,9
...,...,...,...,...,...,...,...
9970,Electrical Engineering,Third-year,7.49,Machine Learning,HTML/CSS,6,7
9971,Electrical Engineering,Fourth-year,9.48,RPA,C#,7,8
9972,Computer Engineering,Second-year,7.98,Big Data,Python,9,7
9973,Electrical Engineering,First-year,8.51,Cyber Security,C#,8,8
9974,Computer Engineering,Fourth-year,9.26,Mobility,HTML/CSS,6,10
9975,Computer Engineering,Fourth-year,9.62,Data Science,JavaScript,6,7
9976,Computer Engineering,Third-year,8.96,Artificial Intelligence,JavaScript,7,7
9977,Electrical Engineering,Second-year,8.45,Data Science,HTML/CSS,8,10
9978,Electrical Engineering,First-year,7.45,Cloud Computing,PHP,9,7
9979,Computer Engineering,First-year,7.64,Mobility,C,10,10
9980,Electronics and Telecommunication,Second-year,9.21,Mobility,.Net,7,8
9981,Computer Engineering,Fourth-year,8.88,IoT,C++,6,6
9982,Computer Engineering,Second-year,7.29,Web Development,.Net,10,8
9983,Electrical Engineering,Second-year,7.47,QMS/Testing,C,6,9
9984,Computer Engineering,First-year,7.29,Information Security,C++,7,9
9985,Computer Engineering,Fourth-year,9.14,Web Development,C++,7,10
9986,Computer Engineering,First-year,7.15,Data Science,Python,6,10
9987,Computer Engineering,Fourth-year,8.90,RPA,HTML/CSS,6,8
9988,Computer Engineering,Second-year,9.67,Data Science,.Net,6,8
9989,Computer Engineering,Third-year,9.61,RPA,C++,10,9
9990,Computer Engineering,Fourth-year,8.63,Information Security,.Net,9,6
9991,Computer Engineering,First-year,7.33,Machine Learning,JavaScript,8,8
9992,Electrical Engineering,Fourth-year,9.17,Mobility,C#,6,7
9993,Computer Engineering,Third-year,9.04,Blockchain,C#,8,6
9994,Computer Engineering,Second-year,9.59,Blockchain,HTML/CSS,8,6
9995,Computer Engineering,Third-year,7.69,Machine Learning,JavaScript,9,9
9996,Computer Engineering,Third-year,8.74,Cyber Security,PHP,7,7
9997,Electronics and Telecommunication,Second-year,8.52,IoT,C++,7,7
9998,Computer Engineering,Fourth-year,9.22,Machine Learning,JavaScript,7,6
9999,Electrical Engineering,First-year,7.11,Cyber Security,C,6,10

In [9]:
def categorical_encoding(X,y):
    le = LabelEncoder()
    #le.fit(y.astype(str))
    y = le.fit_transform(y.astype(str))
    x_list=['Major/Area of Study','Which-year are you studying in?','CGPA/ percentage','Areas of interest',
            'Programming Language Known other than Java (one major)',
            'Rate your written communication skills [1-10]','Rate your verbal communication skills [1-10]']
    for i in x_list:
        #le.fit(X[i].astype(str))
        X[i] = le.fit_transform(X[i].astype(str))

In [10]:
categorical_encoding(X,y)

/home/swati/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [10]:
#logreg = LogisticRegression()

# fit the model with data
#logreg.fit(X_train,y_train)
clf=LogisticRegression()
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

/home/swati/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [11]:
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[ 586,  388],
       [ 284, 1242]])

In [12]:
print(type(y_test))
print(type(y_pred))

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>

In [13]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7312

In [16]:
f1_score(y_test, y_pred, average='weighted')

0.7280488539544551

# KNN MODEL

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [19]:
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred=knn.predict(X_test)

In [20]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7272

In [21]:
f1_score(y_test, y_pred, average='weighted')

0.725866105263158

# SVM MODEL

In [22]:
from sklearn import svm

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [24]:
cla=svm.SVC(kernel='linear')
cla.fit(X_train,y_train)
y_pred=cla.predict(X_test)

In [25]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7324

In [26]:
f1_score(y_test, y_pred, average='weighted')

0.7299877542747925

In [29]:
cla=svm.SVC(kernel='rbf')
cla.fit(X_train,y_train)
y_pred=cla.predict(X_test)

/home/swati/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [30]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6668

In [ ]:
classifier = svm.SVC(kernel = 'poly', degree = 2)
classifier.fit(X_train,y_train)
y_pred=classifier.predict(X_test)

/home/swati/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

# NAIVE BAYES

In [27]:
from sklearn.naive_bayes import GaussianNB

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [29]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred=gnb.predict(X_test)

In [30]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.756

In [31]:
f1_score(y_test, y_pred, average='weighted')

0.7544750664459065

In [9]:
from sklearn.naive_bayes import MultinomialNB

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=50)

In [11]:
mnb = MultinomialNB()
mnb.fit(X_train, y_train)
y_pred=mnb.predict(X_test)

In [12]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6086666666666667

In [13]:
from sklearn.naive_bayes import BernoulliNB

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=50)

In [15]:
bnb = BernoulliNB()
bnb.fit(X_train, y_train)
y_pred=bnb.predict(X_test)

In [16]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6913333333333334

In [21]:
from sklearn.naive_bayes import ComplementNB

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=50)

In [23]:
cnb = ComplementNB()
cnb.fit(X_train, y_train)
y_pred=cnb.predict(X_test)

In [24]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.603

# DECISION TREE

In [32]:
from sklearn import tree

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [34]:
dct=tree.DecisionTreeClassifier()
dct.fit(X_train,y_train)
y_pred=dct.predict(X_test)

In [35]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [36]:
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[ 974,    0],
       [   0, 1526]])

# PASSIVE AGGRESSIVE

In [37]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [51]:
pac=PassiveAggressiveClassifier(n_iter=55)
pac.fit(X_train,y_train)
y_pred=pac.predict(X_test)

/home/swati/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:152: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)
/home/swati/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/stochastic_gradient.py:152: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

In [52]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6432

# RANDOM FOREST

In [90]:
from sklearn.ensemble import RandomForestClassifier

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [98]:
rf = RandomForestClassifier(n_estimators = 1000, random_state = 50)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [99]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9984

In [100]:
f1_score(y_test, y_pred, average='weighted')

0.9983994010298839

# NEURAL NETWORK

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=50)

In [12]:
from sklearn.neural_network import MLPClassifier
classi = MLPClassifier(random_state=1, max_iter=200)
classi.fit(X_train, y_train)
y_pred = classi.predict(X_test)

/home/swati/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [13]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9016

In [14]:
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[ 883,   91],
       [ 155, 1371]])

In [15]:
f1_score(y_test, y_pred, average='weighted')

0.9021111946793137